:root {
--sec-col:#ec4130;
--sec-col-lighter:#e8695b;  
--sec-col-variation:#faccc7;
--light-font-col: #73747f;
--middle-light-font-col: #535462;
--middle-dark-font-col:#3c3c42; 
--dark-font-col:black;
--lightest-font-col: white;
--grey-background: #eef1f4;
}

*, *::before, *::after {
    box-sizing: border-box;
    }

* {
        margin: 0;
        padding:0;
    }
    html, body {
        height: 100%;
        font-weight: 300;
        }

    body {
        line-height: 1.5;
        font-family: poppins, raleway;
        min-width: 265px;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select, fieldset {
        font: inherit;
        border-style: none;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    ol, ul {
        list-style: none;
    }
    strong{
        font-weight: 400;
    }
    a {
        text-decoration: none;
    }

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

header {
    padding: 1rem 1rem 1.5rem 1rem;
    position: fixed;
    top:0;
    background-color: white;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    min-height: 125px;
    flex-wrap: wrap;
    box-shadow: 0 0 15px 0 grey;
}
.logo img{
    width: 188px;
}

@media (max-width:990px){
    .navbar ul {
        display: flex;
        flex-direction: column-reverse;
        align-items: end;          
        }
    .navbar li:nth-child(1),
    .navbar li:nth-child(2),
    .navbar li:nth-child(3),
    .navbar li:nth-child(4),
    .navbar li:nth-child(5) {
        display: none;
        }   
    } 

@media (max-width:320px){
    .navbar li:nth-child(6) {
        display: none;   
    }
    .client-image-container img:nth-child(3),
    .client-image-container img:nth-child(4){
        display: none;
    } 
  }

  @media (max-width:500px){
    
    .client-image-container img:nth-child(3),
    .client-image-container img:nth-child(4) {
        display: none;
    } 
  }

  @media (max-width:767px){ 
    .client-image-container img:nth-child(4) {
        display: none;
    } 
  }
  
.contact-button {
  background-color: var(--sec-col);
  color: var(--lightest-font-col);
  padding: 10px 20px;
  font-size: 11px;
  margin-top: 10px;
  border-radius: 3px;
  }

.contact-button a {
  color: white;
}

main {
    position: relative;
}

section.hero {
    padding: 200px 5vw 50px 5vw;
    background-image: url("https://www.capvidia.com/hubfs/new-banner.jpg");
    background-size: cover;
    background-position: left;
    color: var(--lightest-font-col);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    }
.hero h2{
    font-weight: 600;
}
.hero p {
    margin-top: 1rem;    
}

.products-wrapper{
    padding-top: 10vw;
}

.product-container {
    background-color: var(--grey-background);
    margin: 5vw 8vw 0 8vw;
    padding: 8vw;
}

.product-container h4{
    color: var(--sec-col);
    letter-spacing: 0.4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    position: relative;
}

.product-image{
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-image h3{
    font-weight: 600;
    line-height: 1;
}

.product-container li::before{
    content: url(https://www.capvidia.com/hubfs/check-icon.png);
    width: 18px;
    height: 18px;
    color: var(--sec-col);
    position: absolute;
    left: 16vw;
}

.product-container li{
    padding: 0 0 1rem 10vw;
    color: var(--middle-light-font-col);
    font-weight: 300   ;
}

.product-container a {
  background-color: var(--sec-col);
  color: var(--lightest-font-col);
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  width: max-content;
  margin: 2rem auto 0 auto;
  border-radius: 3px;
}

section.clients-wrapper p {
    font-size: 28px;
    margin: 2em 8vw 1em 8vw;
    text-align: center;
    font-weight: 600;
}

.client-image-container {
    justify-content: space-evenly;    
    margin-bottom: 8em;
}
/* SECTION ABOUT-WRAPPER */

.about-wrapper {
    gap: 3rem;
    margin-bottom: 2rem;
}

.about-text {
    margin: auto 8vw;
}

section.about-wrapper h4::before {
    content: "";
    background-image: url(https://www.capvidia.com/hubfs/Capvidia_August2018/Images/why.png);
    background-size: 100px 100px;
    color: var(--sec-col); 
    position: absolute;  
    top: -75px;
    height: 100px;
    width: 100px;    
}

.about-text h4 {
    color: var(--sec-col);
    font-size: 14PX;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.about-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.about-text p {
    color: var(--light-font-col);
    font-weight: 400;
    margin-bottom: 2em;
}

.about-text a {
  background-color: var(--sec-col);
  color: var(--lightest-font-col);
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  width: max-content;
  border-radius: 3px;
  margin-bottom: 5em;
}

/* SECTION FAQ-WRAPPER */

section.faq-wrapper {
    background-color: var(--sec-col);
    color: var(--lightest-font-col);  
    padding: 4rem 6vw 3rem 6vw;  
}

.faq-container {
    gap: 1rem;
}

section.faq-wrapper h2 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
}

section.faq-wrapper h2::before {
    content: "";
    background-image: url(	https://www.capvidia.com/hubfs/c.png);
    background-size: 259px 316px;
    color: var(--light-font-col); 
    position: absolute;  
    top: -100px;
    left: -75px;
    height: 316px;
    width: 259px;      
}

.faq-container div:nth-of-type(1) {
    background-color: white;
    border-radius: 8px;
    color:var(--light-font-col);
    padding: 1rem 8vw 1rem 8vw;
    font-weight: 300;
    position: relative;
}

.faq-open h3 {
    color: var(--middle-light-font-col);
    font-size: 16px;
    margin-bottom: 1.2rem;
    padding-right: 10vw;
    position: relative;
}

.faq-open p {
    margin-bottom: 1rem;
}

.faq-open i {
    background-color: var(--sec-col);
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.faq-container div:not(.faq-open) {
    background-color: var(--sec-col-lighter);
    border-radius: 8px;
    color: var(--);
    padding: 1rem 3rem 1rem 8vw;
    font-weight: 500;
    position: relative;
    font-size: 16px;
}

.faq-container div:not(.faq-open) i {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    height: 25px;
    width: 25px;
}

/* SECTION NEWS */

.news {
    gap: 3rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.news-text {
    margin: auto 8vw;
}

.news-text h4 {
    color: var(--sec-col);
    font-size: 14PX;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.news-text h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.news-text p {
    color: var(--light-font-col);
    font-weight: 400;
    margin-bottom: 2em;
}

.news-text a {
  background-color: var(--sec-col);
  color: var(--lightest-font-col);
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  width: max-content;
  border-radius: 3px;
  margin-bottom: 5em;
}

/* SECTION CONTACT SERVICES */

section.contact-services-wrapper {
    background-color: var(--grey-background);
    padding: 0 4vw;    
}

.services-container {
    max-width: 450px;
}

.content-services {
    padding: 5rem 6vw 2rem 6vw;
    color: var(--middle-dark-font-col);
}

.content-services h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.content-services p {
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 400;
}

.building-icon-wrapper,
.phone-icon-wrapper {
    gap: 8vw;
    align-items: center;    
}

.building-icon, .phone-icon {
    margin-bottom: 2rem;
    color: var(--sec-col);
    border: 1.5px solid #ec4130;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}



.contact-container {
    background-color: var(--sec-col);
    color: var(--lightest-font-col); 
    border-radius: 2px 2px 0 0;
    padding: 1.5rem 1.5rem 0 1.5rem;      
}

.data-input input, 
.data-input textarea {
    background-color: var(--sec-col);
    border-bottom: 1px solid rgb(224, 147, 147);
    width: 100%;
    line-height: 3rem;
    padding-left: 0.5rem;
    font-weight: 400;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder  {
    color: white;
}

.contact-container h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;        
}

.contact-container > p{
    font-size: 14px;
    color: var(--sec-col-variation);
    text-align: center;
    margin-bottom: 3rem;
}

.agreement p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 14px;
    color: var(--sec-col-variation);
}

.agreement label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.agreement input {
    display: inline-block;
}

.agreement > div {
    gap: 1.5rem;
}

.agreement > div > div {
    gap: 1rem;
}

.agreement > input {
    width: max-content;
    display: block;
    margin: 0 auto;
    color: var(--sec-col);
    font-size: 14px;
    padding: 0.6rem 1.6rem;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid var(--sec-col-variation);
}

.right-fix {
    background-color: var(--sec-col);
    margin: -1px 4vw;
    height: 50px;
    border-radius: 0 0 2px 2px;
}

input:focus {
    outline: none;
    color: white;
}

/* SECTION MORE PARTNERS */

section.more-partners {
    grid-template-areas: 
    'one two'
    'three four'
    'five six';
    padding: 4rem 6vw 3rem 6vw;
    gap: 1rem;
}

.partner-one {
    grid-area: one;
}
.partner-two {
    grid-area: two;    
}
.partner-three {
    grid-area: three;    
}
.partner-four {
    grid-area: four;    
}
.partner-five{
    grid-area: five;    
}
.partner-six{
    grid-area: six;    
}

/* FOOTER */

footer {
    background-color: black;
    padding: 2rem 8vw 2rem 8vw;
    color: rgb(194, 190, 190);
    flex-direction: column;
    gap: 3rem  ;
}

footer a {
    color:rgb(194, 190, 190);
}

.logo-footer > div {
    flex-basis: 100%;
    width: 100%;
    align-items: center;
}

.logo-footer a {
    width: 45px;
    overflow: hidden;    
}

.logo-footer img {
    object-fit: cover;
    object-position: 0 0;
}

.logo-footer span {
   font-size: 35px;    
}

.logo-footer p {
    margin: 3rem 0 0 0;
    color: var(--lightest-font-col);
}

footer li:first-of-type {
    color: var(--lightest-font-col);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

footer li:not(:first-of-type) {
    font-size: 15px;
    font-weight: 400;
    line-height: 2rem;
}

.contactus-footer li:nth-of-type(2) {
    line-height: 1;
}

.other-links-footer {
    margin-bottom: 4rem;
}

@media (min-width:767px){
    section.hero {
        height: 1000px;
        padding-top: 175px;
    }

    .logo img {
        width: 250px;
    }

    header {
        align-items: center;
    }

    .hero h2 {
        font-size: 55px;
    }

    section.products-wrapper {
        display: flex;
        flex-basis: 100%;
        margin-top: -450px;
    }

    .product-container {
        padding: 3vw;
        flex-basis: 100%;
        margin: 3vw;
    }

    .product-container li {
        padding: 0 0 1rem 6vw;
    }

    .product-container li::before{
        left: 0;       
    }

    section.products-wrapper ul {
        position: relative;
    }

    .product-container .cta-button {
        margin-top: auto;
    }

    /* SECTION ABOUT-WRAPPER */

    .about-wrapper {
        flex-direction: row; 
        gap: 0;       
    }

    .about-text {
        margin: auto 0 auto 4vw; 
        flex-basis: 100%;
        gap: 0;
        width: 49vw;       
    }

    .about-img {
        object-fit: contain;
        width: 49vw;
        flex-basis: 100%;
    }

    /* SECTION FAQ-WRAPPER */

      .faq-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, auto);
        gap: 1rem;
      }
    
      .faq-container h2 {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
      }
      
      .faq-open {
        grid-row: 1 / 7;
        grid-column: 1 / 1;
      }
      
      .faq-container div:nth-of-type(2) {
        grid-row: 2 / 3;
        grid-column: 2 / 2;
      }
      
      .faq-container div:nth-of-type(3) {
        grid-row: 3 / 4;
        grid-column: 2 / 2;
      }
      
      .faq-container div:nth-of-type(4) {
        grid-row: 4 / 5;
        grid-column: 2 / 2;
      }
      
      .faq-container div:nth-of-type(5) {
        grid-row: 5 / 6;
        grid-column: 2 / 2;
      }
      
      .faq-container div:nth-of-type(6) {
        grid-row: 6 / 7;
        grid-column: 2 / 2;
      }

      /* SECTION NEWS */

      .news {
        flex-direction: row;
        gap: 0;
        margin-right: 4vw;
        margin-left: 4vw;
      }

      .news-img {
        object-fit: contain;
        width: 47vw;
        flex-basis: 100%;
    }

      .news-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        flex-basis: 100%;
        gap: 0;
        width: 47vw;       
    }

    /* SECTION CONTACT SERVICES */

    .contact-services-wrapper {
        display: flex;
    }

    .services-container {
        width: 42vw;
        max-width: 2000px;

    }

    .contact-container {
        margin-top: 70px;
        width: 50vw;        
    }

    .right-fix {
        width: 50vw;
        margin-left: auto;
    }

    .content-services {
        padding: 15rem 6vw 2rem 3vw;
    }

    .building-icon-wrapper,
.phone-icon-wrapper {
    gap: 2vw;    
    }

    /* SECTION MORE PARTNERS */

    section.more-partners {
        grid-template-areas: 
        'one two three'
        'four five six';        
    }

    /* FOOTER */

    footer {
        flex-direction: row;
        padding: 2rem 4vw 2rem 4vw;
        gap: 0;
        justify-content: space-between;
    }

    .logo-footer span {
        font-size: 25px;    
    }

    footer li:first-of-type {        
        font-size: 18px;        
    }

    footer li:not(:first-of-type) {
        font-size: 14px;        
    }

    .logo-footer p {
        font-size: 12px;
        font-weight: 400;
    }
    }

@media (min-width:990px){
    .navbar ul {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        gap: 2rem   ;
    }
    
    .navbar li:last-of-type {
        display: none;
    }

    .contact-button {
        margin-top: 0;
        padding: 18px 25px;
        font-size: 15px;
    }

    section.more-partners {
        grid-template-areas: 
        'one two three four five six';
    }

    section.products-wrapper {
        margin-top: -500px;
    }
    }

    @media (min-width:1193px){
        section.products-wrapper {
            margin-top: -600px;
        }
    }    

